body {
  font-family: Arial;
  background-color: rgb(250, 250, 250);
}

/* NAV */

nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 24px;
}

#menu-icon {
  margin: 0 20px 0 20px;
}

nav .location {
  font-size: 10px;
  font-family: Roboto, Arial;
  vertical-align: top;
}

nav .center {
  font-size: 0;
}

nav .search {
  vertical-align: middle;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2px 0 0 2px;
  height: 30px;
  width: 550px;
  font-size: 16px;
}

#search-icon {
  vertical-align: middle;
  height: 16px;
  padding: 8px 24px 8px 24px;
  border: 1px solid rgb(190, 190, 190);
  border-left-width: 0;
  border-radius: 0 2px 2px 0;
  background-color: rgb(240, 240, 240);
}

#apps-icon,
#camera-icon,
#notif-icon,
#user-icon {
  margin-right: 20px;
  vertical-align: middle;
}

#user-icon {
  height: 30px;
}

/*MAIN*/

.wrapper {
  margin: 54px 20px 20px 20px;
  overflow: auto;
}

/*VIDEO*/

.main {
  float: left;
  width: 70%;
  text-align: right;
}

.main img {
  height: 20px;
}

.main .container {
  margin-right: 8px;
  width: 90%;
  display: inline-block;
}

.videoframe {
  height: 500px;
  width: 100%;
  margin-top: 20px;
}

/*VIDEODATA*/

.videodata {
  padding: 20px 0 20px 0;
  text-align: left;
  width: 100%;
}

.location-pin {
  height: 16px;
  margin-left: 4px;
  margin-right: 4px;
}

.location img,
.location p {
  display: inline-block;
  color: blue;
  text-transform: uppercase;
  font-size: 12px;
}

.title {
  font-size: 18px;
  margin: 4px 0 4px 0;
}

.views-options {
  padding: 8px 0 12px 0;
  color: grey;
  border-bottom: 1px solid rgb(180, 180, 180);
  overflow: auto;
  font-size: 14px;
}

.views {
  float: left;
  position: relative;
  top: 3px;
}

.main .options {
  float: right;
  vertical-align: bottom;
}

.views p,
.options p,
.options img {
  display: inline-block;
  vertical-align: middle;
}

.main .options p {
  padding-right: 20px;
  text-transform: uppercase;
}

.options img {
  padding-right: 5px;
}

.likes {
  rotate: 180deg;
  transform: scaleX(-1);
}

/*OWNER*/

.main .owner {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: left;
}

.main .owner img {
  height: 60px;
  vertical-align: top;
}

.main .owner-info {
  padding: 15px 5px 0 10px;
  display: inline-block;
  font-size: 14px;
}

.main .username {
  font-weight: bold;
}

.subscribers {
  color: grey;
  margin: 2px 0 20px 0;
}

.hashtags {
  color: blue;
}

.subscribe {
  float: right;
  padding: 10px 20px 10px 20px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  background-color: red;
}

/*COMMENTS*/

.comments {
  width: 100%;
  margin: 20px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-style: italic;
}

/*SIDEBAR*/

.sidebar {
  float: right;
  width: 30%;
}

.sidebar .container {
  margin: 25px 30px 20px 8px;
}

.next {
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(180, 180, 180);
  overflow: auto;
}

.sidebar .options {
  display: inline-block;
  width: 100%;
}

.autoplay {
  float: right;
  text-transform: uppercase;
  color: grey;
  text-align: right;
  font-size: 12px;
}

#autoplay-icon {
  height: 20px;
}

.sidebar article {
  margin: 8px 10px 8px 0;
  color: grey;
  font-size: 12px;
  overflow: auto;
}

article img {
  height: 94px;
  float: left;
  margin-right: 4px;
}

article .title {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

article .title {
  padding-bottom: 6px;
}

article .owner {
  padding-bottom: 3px;
}
