/* NAV */

nav {
  background-color: rgb(238, 238, 194);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0 10px 0;
}

.body {
  margin-top: 36px;
}

/*VIDEO*/

.main {
  background-color: rgb(215, 215, 255);
  float: left;
  width: 70%;
}


/*COMMENTS*/


/*PLAYLIST*/

.playlist {
  background-color: rgb(236, 188, 188);
  float: right;
  width: 30%;
}